

.footer {
  padding-top: 20px;
  // .footer__partner

  &__partner {
    background-color: $bc08;
    display: flex;
    justify-content: center;
  }

  // .footer__container

  &__container {
    position: relative;
  }

  // .footer__m-general-extension-partner

  &__m-general-extension-partner {
    position: fixed;
    bottom: 20px;
    left: 25px;
    top: auto;
    width: 200px;

    .scrollTop {
      @media (max-width: $md3+px) {
        bottom: 60px;
        z-index: 3;
      }
      @media (max-width: $md1+px) {
        display: none !important; // inline flex
      }

      position: fixed;
      right: 30px;
      bottom: 120px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $bc82;
      box-shadow: 0px 0px 10px 1px rgba(150, 150, 150, 0.4);;
      z-index: 9;
      text-align: center;
      color: white;
      transition: all 0.8s ease 0s;

      &:hover {
        background: $bc09;
        box-shadow: 0 0 10px 2px $bc10;
      }

      &:before {
        content: '';
        position: absolute;
        top: 22.5px;
        left: 9px;
        display: inline-block;
        width: 20px;
        height: 5px;
        background-color: $bc01;
        transform: rotate(-45deg);
      }

      &:after {
        content: '';
        position: absolute;
        top: 22.5px;
        right: 9px;
        height: 5px;
        display: inline-block;
        width: 20px;
        background-color: $bc01;
        transform: rotate(45deg);
      }
    }
    a > img {
      width: 100%;
    }

    @media (max-width: $md3+px) {
      position: absolute;
      bottom: -45px;
      left: 15px;
      width: 140px;
      height: 35px;
    }

  }

  &__olark-launch-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
    position: fixed;
    // bottom: 15px;
    right: 20px;
    left: auto;
    width: auto;
    border-radius: 100px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    transition: all 0.4s, bottom 0.8s ease-in-out !important;
    cursor: pointer;

    padding: 0 25px;

    background-color: $tc05;
    bottom: 54px;
    @media (max-width: $md3+px) {
      bottom: 10px
    }

    &:hover {
      background-color: $tc051;
    }

    span {
      @media (max-width: $md3+px) {
        display: none;
      }
      display: inline-flex;
      font-size: 16px;
      cursor: pointer;
      box-sizing: border-box;

      font-weight: bold;
      //margin:  0 0 0 12px;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      //padding: 0;
      transition: 0.6s ease-in-out;
      line-height: 54px;
      color: $tc01;
    }

    svg {
      height: 28px;
      width: 28px;
      margin-top: 10px;
      margin-right: 12px;
      @media (max-width: $md3+px) {
        height: 28px;
        width: 28px;
        margin-top: 10px;
        margin-right: 0;
      }
    }
  }

  // .footer__bottom

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    z-index: -1;
    @media (max-width: $md3+px) {
      margin: 0;
    }
  }

  &__bottom__container {
    //@media (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 1170px;
    //}
    @media (max-width: $md4+px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //flex-wrap: wrap;
    }
  }

  // .footer__empty

  &__empty {
    order: 1;
    @media (max-width: $md4+px) {
      display: none;
    }
  }

  // .footer__copyright

  &__copyright {
    order: 3;
    @media (max-width: $md4+px) {
      order: 2 !important;
    }

    p {
      font-family: $fontfamilyOpenSans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: $tc10;
      margin: 0;
    }

    @media (max-width: $md3+px) {
      p {
        text-align: center;
      }
      p:nth-child(2) {
        display: none;
      }
    }
  }

  @media (max-width: $md4+px) {
    &__social-links {
      order: 1 !important;
      margin-bottom: 20px !important;
    }
    &__bottom {
      position: relative;
    }
    &__bottom:after {
      content: '';
      position: absolute;
      top: 55px;
      height: 1px;

      width: 100%;
      border-top: 1px solid #33333333;
    }
  }
  // .footer__social-links
  &__social-links {
    order: 3;
    display: flex;
    margin-bottom: 0;

    li > a {
      background-repeat: no-repeat;
      background-position: center;
    }

    a {
      display: block;
      width: 34px;
      height: 34px;
      background-color: $bc08;
      border-radius: 50%;
      margin: 5px;
    }

    a:hover {
      background-color: $tc16;
      transition: all 0.3s ease 0s;
    }

    @media (max-width: $md1+px) {
      align-self: flex-end;
      z-index: 2;
    }
  }

}

.row {
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

#social-s {
  background-image: url(../public/assets/imgs/2017/01/social-skype.svg);
  background-size: 22px;
}

#social-in {
  background-image: url(../public/assets/imgs/2017/01/social-in.svg);
  background-size: 18px;
}

#social-m {
  background-image: url(../public/assets/imgs/2017/01/social-mail.svg);
  background-size: 22px;
}
