@import 'null';
@import 'nav';
@import 'main';
@import 'footer';
@import 'slider';
@import 'page';
@import 'menu';

@import "./fontawesome-free-5.15.1-web/scss/fontawesome.scss";
@import "./fontawesome-free-5.15.1-web/scss/solid.scss";
@import "./fontawesome-free-5.15.1-web/scss/brands.scss";

body {
  background-color: $bc01;
  color: $tc02;
}

.flex-around {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: $md6+px) {
  .container,
  .left-sidebar,
  .footer__bottom__container {
    width: 1170px;
  }
}

@media (max-width: 1199px) {
  .container,
  .left-sidebar,
  .right-sidebar,
  .footer__bottom__container {
    width: 940px;
  }
}

@media (max-width: 980px) {
  main {
    //padding: 0 15px;
  }
  .container,
  .left-sidebar,
  .right-sidebar,
  .footer__bottom__container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

