@import 'null';
@import 'nav';
@import 'main';
@import 'footer';
@import 'page';
@import 'menu';

body {
  background-color: $bc01;
  color: $tc02;
}

.flex-around {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1199px) {
  .container {
    width: 940px;
  }
}

@media (max-width: 980px) {
  main {
    padding: 0 15px;
  }
  .container {
    box-sizing: border-box;
    width: 100%;
  }
}

