.custom-text-os{
  font-weight: normal;
  font-family: $fontfamilyOpenSans-serif;
  font-size: 14px;
  line-height: 22px !important;
  color: $tc14;
  margin: 0 0 10px;
}
.size-full{
  height: auto; max-width: 500px;
}