


.top-nav-bar {
  display: none;
}

@media (max-width: $md3+px) {
  .foo-menu {
    position: relative;
    z-index: 1000 !important;
  }

  .menu-active .top-nav-bar {
    z-index: 2;
  }

  .top-nav-bar {
    position: relative;
    background-color: $bc08;
    color: $bc01;
  }

  .am-navbar-title {
    color: $bc01 !important;
  }

  .menu-mask {
    content: ' ';
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $bc09;
    opacity: 0.4;
    z-index: 79;
  }
  .top-nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .foo-menu {
    min-height: 60vh;
  }
  .am-flexbox.am-menu.foo-menu.am-flexbox-dir-column.am-flexbox-align-stretch {
    position: fixed;
    top: 45px;
    width: 100%;
  }
}