.foo-menu {
  position: relative;
  z-index:1000 !important;
}

.menu-active .top-nav-bar{
  z-index: 2;
}

.top-nav-bar {
  position: relative;
  background-color: $bc08;
  color: $bc01;
}
.am-navbar-title {
  color: $bc01 !important;
}
.menu-mask {
  content: ' ';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $bc09;
  opacity: 0.4;
  z-index: 79;
}
.top-nav-bar {
  display: none;
}

@media (max-width: $md3+px) {
  .top-nav-bar {
    display: flex;
  }
  .foo-menu {
    min-height: 60vh;
  }
}