
.header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/assets/imgs/new-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0 120px 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 246px;
    opacity: 0.2;
    background-color: $bc09;
  }


  //background-image: url("https://m-integration.com/wp-content/uploads/2017/09/new-bg.jpg");

  &__empty {
    //display: none;
  }

  // .header__logo
  &__logo img {
    width: 125px;
  }

  // .header__menu
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 13px;
    color: $tc02;
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.0;

    &-icon {
      display: none;
      cursor: pointer;

      &.active span {
        transform: scale(0);
        background-color: $tc051;
      }

      &.active:before {
        transform: rotate(45deg);
        top: 9px;
        background-color: $tc051;
      }

      &.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
        background-color: $tc051;
      }

      // .menu__icon
      @media (max-width: $md3+px) {
        display: block;
        position: absolute;
        top: 3%;
        right: 3%;
        width: 30px;
        height: 20px;
        z-index: 3;

        & span {
          position: absolute;
          //top: 50%;
          top: 9px;
          width: 100%;
          height: 2px;
          background-color: $tc051;
          box-shadow: 0 0 3px $bc01;
          transition: all 0.3s ease 0s;
        }

        &:before,
        &:after {
          content: "";
          background-color: $tc051;
          box-shadow: 0 0 3px $bc01;
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          transition: all 0.3s ease 0s;
        }

        &:before {
          top: 0;
        }

        &:after {
          bottom: 0;
        }
      }
    }
  }

  &__logo {
    z-index: 4;
    top: 20px !important;
    left: 30px !important;
  }

  &__nav {
    display: flex;
    border-bottom: 1px solid $borderColor01;


    li {
      position: relative;
    }

    li:before {
      background-color: $bc01;
      content: '';
      position: absolute;
      left: 0;
      top: 55px;
      width: 0;
      height: 5px;
      transition: all 0.3s ease;
    }

    > li {
      font-size: 13px;
      color: $tc02;
    }

    li a {
      color: $tc01;
      display: block;
      text-decoration: none;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 300;
      border: none;
      list-style: none;
      margin: 0;
      outline: 0;
      font-size: 19px;
    }

    > li > ul > li > a {
      font-family: $fontfamilyOpenSans-serif;
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      white-space: nowrap;
      padding: 0 15px;
      text-align: left;
    }

    > li > a {
      text-align: center;
      visibility: inherit;
      transition: all 0.3s ease;
      font-family: $fontfamilyOpenSans-serif;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 44px 28px 44px;
      background: none;
      cursor: pointer;
      @media (max-width: 1199px) {
        padding: 10px 26px 28px 28px;

      }
      @media (max-width: 980px) {
        padding: 10px 15px 28px 15px;
      }
    }


    > li > ul {
      background: rgba(133, 170, 212, 0.25);
    }

    > li > ul {
      padding: 15px 0;
    }

    > li > ul > li {
      padding: 5px 0;
      transition: all 0.3s ease 0s;
    }

    > li > ul > li:hover {
      top: 100%;
      left: 0;
      background: rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease 0s;
    }

    #services {
      li > a {
        padding: 0 80px 0 15px;
      }
    }

    #partnerships {
      li > a {
        padding: 0 80px 0 15px;
      }
    }

    #company {
      li > a {
        padding: 0 30px 0 15px;
      }
    }

    #faq {
      li > a {
        padding: 0 30px 0 15px;
      }
    }

    #services:hover:before {
      width: 319px;
      transition: all 0.5s ease;
    }

    #partnerships:hover:before {
      width: 210px;
      transition: all 0.5s ease;
    }

    #company:hover:before {
      width: 159px;
      transition: all 0.5s ease;
    }

    #faq:hover:before {
      width: 138px;
      transition: all 0.5s ease;
    }

    #portfolio:hover:before {
      width: 182px;
    }

    ul li ul:before {
    }

    li ul {
      display: none;
      background: rgba(133, 170, 212, 0.25);
    }

    li:hover ul {
      display: block;
    }

    li:hover ul {
      position: absolute;
    }
  }
}

@media (max-width: $md3+px) {
  .header {

    li ul {
      background: $bc081 !important;
    }

    li:hover {
      background: $bc081 !important;
    }

    #services,
    #partnerships,
    #company,
    #faq,
    #portfolio {
      width: 100%;

      > a {
        text-align: start;
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
        font-size: 18px;
        font-weight: 400;
        color: $tc051;
        //text-shadow: 0 3px 5px rgba(255, 255, 255, 1)
      }

      &:hover:before {
        width: 100%;
      }
    }


    li:hover ul {
      position: static;
      margin-left: 50px;
    }

    > li > ul > li:hover {
      top: 100%;
      left: 0;
      //background: rgba(255, 255, 255, 0.3);
    }

    &__logo {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &__nav.active {
      left: 0;
    }

    &__empty.active {
      display: block;
      position: fixed;
      width: 15%;
      height: 100%;
      background-color: #2d2d2d;
      opacity: 0.5;
      top: 0;
      right: 0;
      transition: opacity 0.3s ease 0s;
      transition-delay: 0.3s;
    }

    &__empty {
      right: 100%;
      opacity: 0;
    }

    &__nav {
      position: fixed;
      top: 0;
      left: -110%;
      width: 85%;
      height: 100%;
      background-color: $bc081;
      padding: 120px 0 0 0;
      overflow: auto;
      transition: all 0.3s ease 0s;

      z-index: 3;

      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      li:before {
        height: 1px;
        opacity: 0.5;
        background-color: $tc051;
      }

      li {
        //padding: 0 0 25px 0 !important;

      }
    }
  }
}
