.header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/assets/imgs/new-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0 60px 0;

  // .header__logo
  &__logo img {
    width: 125px;
  }

  // .header__menu
  &__menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 13px;
    color: $tc02;
    font-weight: normal;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.0;
    float: right;

  }

  &__nav {
    display: flex;
    border-bottom: 1px solid $borderColor01;

    li {
      position: relative;
    }

    li:before {
      background-color: $bc01;
      content: '';
      position: absolute;
      left: 0;
      top: 55px;
      width: 0;
      height: 3px;
      transition: all 0.3s ease;
    }

    > li {
      font-size: 13px;
      color: $tc02;
    }

    li a {
      color: $tc01;
      display: block;
      text-decoration: none;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 300;
      border: none;
      list-style: none;
      margin: 0;
      outline: 0;
      font-size: 19px;
    }

    > li > ul > li > a {
      font-family: $fontfamilyOpenSans-serif;
      font-size: 13px;
      line-height: 18px;
      font-weight: 400;
      white-space: nowrap;
      padding: 0 15px;
      text-align: left;
    }

    > li > a {

      text-align: center;
      visibility: inherit;
      transition: all 0.3s ease;
      font-family: $fontfamilyOpenSans-serif;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 44px 28px;

      background: none;
      cursor: pointer;
    }


    > li > ul {
      background: rgba(133, 170, 212, 0.25);
    }

    > li > ul {
      padding: 15px 0;
    }

    > li > ul > li {
      padding: 5px 0;
    }

    > li > ul > li:hover {
      top: 100%;
      left: 0;
      background: rgba(255, 255, 255, 0.3);
    }

    #services {

    }

    #partnerships {
      li > a {
        padding: 0 80px 0 15px;
      }
    }

    #company {
      li > a {
        padding: 0 30px 0 15px;
      }
    }

    #faq {
      li > a {
        padding: 0 30px 0 15px;
      }
    }

    #services:hover:before {
      width: 260px;
      transition: all 0.3s ease;
    }

    #partnerships:hover:before {
      width: 210px;
      transition: all 0.3s ease;
    }

    #company:hover:before {
      width: 155px;
      transition: all 0.3s ease;
    }

    #faq:hover:before {
      width: 138px;
      transition: all 0.3s ease;
    }

    #portfolio:hover:before {
      width: 182px;
    }

    ul li ul:before {
    }

    li ul {
      display: none;
      background: rgba(133, 170, 212, 0.25);
    }

    li:hover ul {
      display: block;
    }

    li:hover ul {
      position: absolute;
    }
  }
}
