//.flex{
//  display:flex;
//}
//.flex__column{
//  min-width: 0;
//  //width: 100px;
//}
//.slider{
//  min-width: 0;
//  //width: 100px;
//}
//
//.slick-list{
//  overflow: hidden;
//}

.slick-slider.top-slider.slick-initialized {
  width: 770px;
  margin: 0 auto;
}
.slick-slider {
  min-width: 0;
  //background-color: #ccc;
  background-color: transparent;
  /*width: 100px;*/
}
.top-slider {
  /*display: none;*/
}

/*//*/
.slick-list {
  overflow: hidden;
  background-color: transparent;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 0;
  width: 100%;
}

.slider-wrapper {
  width: 760px;
  margin: auto;
  min-width: 0;
}

.slick-slide {
  text-align: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.slick-track {
  display: flex;
  min-width: 0;
  width: 100%;
  // min-height: 640px;
  align-items: stretch;
  justify-content: stretch;
}

.slick-slide.slick-current {
  // background-color: aqua;
  .ant-card {
    // background-color: violet;
    --antd-wave-shadow-color: #1890ff;
    --scroll-bar: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    padding: 0;
    // color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    position: relative;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
    background-color: rgba(30, 115, 190, 0.2);
    border: 0;
    width: 220px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
      0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    transition: box-shadow 0.3s, border-color 0.3s;
  }
}
.slick-slide.slick-active {
  /*background-color: aqua;*/
  /*z-index: 10;*/
}
.slick-slider.bottom-slider {
  margin-top: 50px;
  position: relative;
  height: 50px;
  .slick-dots{
    bottom: -50px;
  }
  .slick-track {
    display: flex;
    .slick-slide {
      display: flex;
      height: auto;
      align-items: center; //optional
      justify-content: center; //optional
    }
  }
}

.slick-slider.bottom-slider .slick-list .slick-track .slick-slide {
  /*height: 200px !important;*/
}
.slick-slider.bottom-slider .slick-list .slick-track .slick-slide {
  // height: 50px;
}
.slick-slider.bottom-slider
  .slick-list
  .slick-track
  .slick-slide.slick-current {
  background-color: transparent;
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

.slick-slider.top-slider.slick-initialized {
  display: flex;
  .slick-track {
    display: flex;
    .slick-slide {
      display: flex;
      height: auto;
      padding: 10px;
      align-items: center; //optional
      justify-content: center; //optional
    }
  }
}

.slick-slider.top-slider
  .slick-list
  .slick-track
  .slick-slide:hover.slick-current:not(:hover) {
  background-color: transparent;
}

/** Text Animation **/
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-delay: 1s;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

/* Text Animation End **/

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: inline-flex;
  width: 30%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
}

.slick-active button {
  background: $bc08;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  // padding: 4px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li button::before {
  font-size: 18px;
  color: #fff;
  opacity: 1;
}
.camera_caption {
  color: #fff;
  font-family: $fontfamilyOpenSans;
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
  height: 50px;
}
.camera_line {
  width: 300px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #b2b2b2;
  font-weight: normal;
  cursor: default !important;
  margin: 35px auto 0;
  width: 400px;
  background: url('/assets/imgs/menu_line.png') 0 0 repeat-x;
  margin-top: 15px;
  padding-top: 15px;
}
.slick-slider.bottom-slider.slick-initialized {
  display: flex;
  justify-content: center;

  .slick-dots {
    margin: 0 auto;
  }
}
